<footer class="flex fixed bottom-0 w-full h-auto m-auto p-6 bg-secondary-color-brown">
    <div class="flex justify-between w-full xl:w-5xl m-auto h-auto items-center">
        <a class="cursor-pointer" routerLink="/home">
            <img
                class="w-12"
                src="imgs/logo_fundo-preto.png" 
                alt="Nós do Morro"
            >
        </a>
        <div class="flex flex-col justify-center text-base leading-5 tracking-tight font-semibold text-white text-center">
            <span class="align-middle">&copy; Grupo Nós do Morro 2026 - Todos os direitos reservados</span>
            <span>Desenvolvido por Lucas Ton Gonçalves</span>
        </div>
        <div>
            <a href="https://www.instagram.com/gruponosdomorrooficial/" target="_blank"></a>
            <a href="https://www.facebook.com/mostradeteatronosdomorro/" target="_blank"></a>
        </div>
    </div>
</footer>