@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://db.onlinewebfonts.com/c/116af611cbcd9e4bada60b4e700430c1?family=Avenir+Light');
:root {
    --primary-color-white: rgb(255,255,255);
    --secondary-color-white: #e6e0d4;
    --tertiary-color-white: #f6f4eb;
    --primary-color-black: rgb(35,31,32);
    --primary-color-orange: rgb(245,130,31);
    --secondary-color-orange: rgb(247, 204, 166);
    --primary-color-brown: rgb(72,39,16);
    --secondary-color-brown: #18110f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    background-color: var(--primary-color-white);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 100%;
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
    z-index: 1;
    position: relative;
    flex: 1;

    display: flex;
    flex-direction: column;
}

.titulo {
    border-bottom: 1px solid var(--primary-color-brown);
    font-size: 30px;
    width: 70vh;
    margin: 0 auto;
    margin-bottom: 3em;
}

.titulo h1 {
    margin-bottom: 1em;
}

.footer-container {
    font-family: "Avenir Light";
    text-align: center;
    margin: 2em;
}

@media screen and (max-width: 768px) {
    .titulo {
        width: 40vh;
    }
}