* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

p {
    font-family: "Avenir Light";
}

section {
    width: 100%;
    margin: 0 auto;
}

.main-container {
    padding-top: 0;
    height: auto;
    gap: 2rem;

    display: flex;
    flex-direction: column;
}

.slide-container {
    width: 100%;
    min-width: 100vh;
    gap: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-imagens {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
}

.on {
    opacity: 1;
}

#prev-btn, #next-btn {
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-btn {
    margin-right: -6.5em;
    z-index: 10;
}

#next-btn{
    margin-left: -6.5em;
    z-index: 10;
}

#prev-btn img, #next-btn img {
    width: 100%;
    height: 100%;
}

.welcome-container {
    max-width: 100%;
    height: 80vh;
    margin: 0 auto;
    margin-bottom: 4em;
    background-color: var(--tertiary-color-white);

    display: flex;
}

.image-content {
    position: relative;
    width: 90%;
    height: 450px;
    margin-top: 4em;
    margin-left: 4em;
    overflow: hidden;
}

.image-content img {
    width: 100%;
    height: auto;
}

.banner-mobile {
    display: none;
}

.text-content {
    background-color: var(--primary-color-white); 
    position: relative;
    text-align: left;
    width: 130vh;
    height: 300px;
    margin-top: 8em;
    margin-left: -25em;
    margin-right: 4em;
    padding: 5em;
    padding-left: 10em;
}

.text-content h1 {
    font-size: 3.5em;
    margin-right: 5em;
    margin-bottom: 0.5em;
    text-align: left;
}

.text-content p {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

.text-content .explore-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color-black);
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color-black);
    padding: 5px 4em 0 0;
    transition: all 0.3s ease-in-out;
}

.explore-btn {
    font-family: "Avenir Light";
    margin-top: 2em;
}

.text-content .explore-btn:hover {
    color: #555;
    border-color: #555;
    padding: 5px 5em 0 0;
}

.sobre-container {
    width: 60%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sobre-text-content {
    font-family: "Avenir Light";
    text-align: left;
}

.sobre-text-content h1 {
    border-left: 4px solid var(--primary-color-orange);
    font-size: 40px;
    font-weight: bolder;
    padding-left: 10px;
}

.sobre-text-content p {
    font-size: 17px;
    margin: 2em 2em 0 0;
}

.sobre-text-content a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color-black);
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color-black);
    padding: 5px 4em 0 0;
    margin: 2em 0;
    transition: all 0.3s ease-in-out;
}

.sobre-img-content img{
    width: 100%;
}

.impacto-container {
    background-color: var(--tertiary-color-white);
    padding: 3em 1em;
    text-align: center;
}

.impacto-header h1 {
    font-size: 3.5em;
}

.impacto-header p {
    font-size: 1.2em;
    color: var(--secondary-color-black);
    margin-bottom: 2em;
}

.impacto-content {
    gap: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.impacto-box {
    background-color: var(--primary-color-white);
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.impacto-box h3 {
    font-family: "Avenir Light";
}

.impacto-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.icon img {
    width: 70px;
}

.impacto-box h3 {
    font-size: 2em;
    color: #333;
    margin: 0.3em 0;
}

.impacto-box p {
    font-size: 1em;
    color: #666;
}

.galeria-container {
    text-align: center;
    padding: 2em 1em;
    background-color: var(--primary-color-white);
}

.galeria-container h1 {
    font-family: "Avenir Light";
    font-size: 3.5em;
    margin-bottom: 1em;
    color: #333;
    position: relative;
}

.galeria-container h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--primary-color-orange);
    margin: 0 auto;
}

.galeria-content {
    width: 90%;
    gap: 1em;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.galeria-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.galeria-content img::hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.galeria-img {
    position: relative;
    display: inline-block;
    width: 100%; 
    max-width: 500px; 
    overflow: hidden;
}

.galeria-img img{
    display: block;
}

.galeria-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: rgba(78, 55, 5, 0.6);
    color: var(--primary-color-white);
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 1em;
    margin-left: -1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galeria-img .overlay h3 {
    font-family: "Avenir Light";
    font-size: 1.5em;
    margin: 0;
  }
  
  .galeria-img .overlay p {
    font-family: "Avenir Light";
    margin-top: 0.5em;
    font-size: 1em;
  }
  
  .galeria-img:hover .overlay {
    opacity: 1; /* Torna o overlay visível no hover */
  }
  
  .galeria-img:hover img {
    transform: scale(1.1); /* Zoom leve na imagem */
    transition: transform 0.4s ease;
  }

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    .sobre-container {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .sobre-text-content {
        margin: 1em;
    }
}

@media screen and (max-width: 910px) {
    .slide-container {
        gap: 0.5rem;
        margin-top: 10em;
    }

    #prev-btn, #next-btn {
        margin-top: 10em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    #prev-btn {
        left: 10px;
    }

    #next-btn {
        right: 10px;
    }

    .slide-imagens {
        width: 100%;
        padding: 0 10px;
    }

    .slider {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1170px) {
    .welcome-container {
        width: 100%;
        flex-direction: column;
        height: 600px;
    }

    .image-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .banner-desktop {
        display: none;
    }

    .banner-mobile {
        display: block;
        width: 100%;
    }

    .text-content {
        width: 100%;
        height: 400px;
        margin: 0 auto;
        padding: 0;
    }

    .text-content h1, p {
        margin: 0;
    }

    .text-content h1 {
        padding: 16px;
    }

    .text-content p {
        padding: 1em;
    }

    .text-content .explore-btn {
        margin-left: 1em;
    }
}

