* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

p {
    font-family: "Avenir Light";
}

section {
    width: 100%;
    margin: 0 auto;
}

.main-container {
    margin-top: 2em;
    padding-top: 0;
    height: auto;
    gap: 2rem;

    display: flex;
    flex-direction: column;
}

.swiper-1 {
    width: 90%;
    height: 750px;
}

.swiper-1 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-1 .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.on {
    opacity: 1;
}

.welcome-container {
    max-width: 100%;
    height: 85vh;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color: var(--primary-color-white);

    display: flex;
}

.image-content {
    position: relative;
    width: 90%;
    height: 450px;
    margin-top: 4em;
    margin-left: 4em;
    overflow: hidden;
}

.image-content img {
    width: 100%;
    height: auto;
}

.banner-mobile {
    display: none;
}

.text-content {
    background-color: var(--primary-color-orange);
    position: relative;
    text-align: left;
    width: 130vh;
    height: 350px;
    margin-top: 8em;
    margin-left: -25em;
    margin-right: 4em;
    padding: 5em;
    padding-left: 10em;
}

.text-content h1 {
    font-size: 3.5em;
    margin-right: 5em;
    margin-bottom: 0.5em;
    text-align: left;
    color: white;
}

.text-content p {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: white;
    font-weight: bolder;
    margin-bottom: 2em;
}

.text-content .explore-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color-black);
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color-black);
    padding: 5px 4em 0 0;
    transition: all 0.3s ease-in-out;
}

.button-89 {
    font-family: "Avenir Light";
    text-decoration: none;
    --b: 3px;   
    --s: .45em;
    --color: #ffffff;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

/* GRID INICIAL */

.infos-impacto-container {
    width: 90%;
    gap: 2em;
    margin-bottom: 6em;

    display: flex;
    justify-content: center;
}

.infos-impacto-grid {
    width: 350px;
    height: 270px;
    text-align: left;
    font-family: "Avenir Light";
    border-right: 2px solid #aaaaaa69;
}

.infos-impacto-grid:last-child {
    border-right: none;
}

.icon-info img {
    width: 70px;
    margin-bottom: 1em;
}

.infos-impacto-grid h1 {
    font-size: 50px;
}

.infos-impacto-grid h3 {
    font-size: 23px;
}

.infos-impacto-grid p {
    font-size: 17px;
    color: #666666d7;
    margin-right: 2em;
}

.sobre-container {
    width: 60%;
    margin-bottom: 2em;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sobre-text-content {
    font-family: "Avenir Light";
    text-align: left;
}

.sobre-text-content h1 {
    border-left: 4px solid var(--primary-color-orange);
    font-size: 40px;
    font-weight: bolder;
    padding-left: 10px;
}

.sobre-text-content p {
    font-size: 17px;
    margin: 2em 2em 2em 0;
}

#btn-saiba-mais {
    --color: rgb(29, 29, 29);
}

.sobre-img-content img{
    width: 100%;
}

/* IMPACTO */

.impacto-container {
    width: 100%;
    padding: 3em 0;
    overflow: hidden;
}

.impacto-header h1 {
    font-size: 3.5em;
    position: relative;
    margin-bottom: 15px;
}

.impacto-header h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--primary-color-orange);
    margin: 10px auto;
}

.impacto-header p {
    font-size: 1.2em;
    color: var(--secondary-color-black);
    margin-bottom: 2em;
}

.swiper-2 {
    width: 70%;
    margin: 0 auto;
    margin-top: 6em;
}

.swiper-2 .swiper-wrapper {
    width: 88%;
    display: flex;
    align-items: center;
}

.swiper-2 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
    display: none;
}

.custom-prev-button,
.custom-next-button {
    padding: 5px 15px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-prev-button img, 
.custom-next-button img {
    width: 25px;
    transition: all 0.3s ease;
}

.custom-prev-button:hover,
.custom-next-button:hover {
    background-color: var(--primary-color-orange);
}

.custom-prev-button:hover img,
.custom-next-button:hover img {
    filter: brightness(0) invert(1); 
}

.scroll-item {
    width: 200px;
    text-align: left;
    font-family: "Avenir Light";
    transition: transform 0.3s ease;
}

.scroll-item h3 {
    font-size: 30px;
}

.scroll-item p {
    font-size: 17px;
    color: #666666d7;
    margin-right: 1em;
}

.scroll-item:hover {
    transform: translateY(-5px);
}

.icon img {
    width: 60px;
    margin-bottom: 10px;
}

/* GALERIA */

.galeria-container {
    text-align: center;
    background-color: var(--primary-color-white);
}

.galeria-container h1 {
    font-family: "Avenir Light";
    font-size: 3.5em;
    margin-bottom: 1em;
    color: #333;
    position: relative;
}

.galeria-container h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--primary-color-orange);
    margin: 0 auto;
}

.galeria-content {
    width: 90%;
    gap: 1em;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.galeria-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.galeria-content img::hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.galeria-img {
    position: relative;
    display: inline-block;
    width: 100%; 
    max-width: 500px; 
    overflow: hidden;
}

.galeria-img img{
    display: block;
}

.galeria-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: rgba(78, 55, 5, 0.6);
    color: var(--primary-color-white);
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 1em;
    margin-left: -1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galeria-img .overlay h3 {
    font-family: "Avenir Light";
    font-size: 1.5em;
    margin: 0;
  }
  
  .galeria-img .overlay p {
    font-family: "Avenir Light";
    margin-top: 0.5em;
    font-size: 1em;
  }
  
  .galeria-img:hover .overlay {
    opacity: 1;
  }
  
  .galeria-img:hover img {
    transform: scale(1.1);
    transition: transform 0.4s ease;
  }

html {
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    .infos-impacto-container {
        flex-direction: column;
    }

    .infos-impacto-grid {
        border: none;
        text-align: center;
    }

    .infos-impacto-grid p {
        margin: 0;
    }

    .impacto-header h1 {
        font-size: 2.5em;
    }

    .impacto-header p {
        font-size: 1em;
    }

    .icon img, .icon-grid img {
        width: 60px;
    }

    .text-grid h1 {
        font-size: 1.2em;
    }

    .text-grid p {
        font-size: 1.2em;
    }

    .button-89 {
        margin-left: 1.2em;
    }

    .sobre-img-content img{
        margin-top: 1em;
    }

    #btn-saiba-mais {
        margin: 0;
    }

    .swiper-2 {
        width: 100%;
    }

    .swiper-2 .swiper-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .sobre-container {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .sobre-text-content {
        margin: 1em;
    }
}

@media screen and (max-width: 1170px) {
    .welcome-container {
        width: 100%;
        flex-direction: column;
        height: 800px;
    }

    .image-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .banner-desktop {
        display: none;
    }

    .banner-mobile {
        display: block;
        width: 100%;
    }

    .text-content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .text-content h1, p {
        margin: 0;
        
    }

    .text-content h1 {
        padding: 16px;
        margin-top: 15px;
    }

    .text-content p {
        padding: 1em;
    }

    .text-content .explore-btn {
        margin-left: 1em;
    }
}

