
.divisor {
    width: 100%;
    gap: 1em;
    margin: 2em auto;
    max-width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divisor-border {
    width: 35%; 
    height: 2px;
    background-color: #aaaaaa69;
}

.divisor-img img {
    width: 35px;
    height: auto;
}

.article-content {
    font-family: "Avenir Light";
    font-size: 18px;
    font-style: normal;
    text-align: left;
    width: 45%;
    margin: 0 auto;
}

.article-content p {
    margin: 2em 0;
    font-size: 17px;
    margin-bottom: 2em;
    color: var(--secondary-color-black);
}

.sobre-imagens-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2em auto;
}

.sobre-imagens-container div {
    width: 100%; 
    height: 470px; 
}

.sobre-imagens-content {
    width: 100%;
    height: 500px;
}

.sobre-imagens-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#foto-diretoria {
    width: 100%; 
    height: 470px;
    object-fit: cover;
}


.sobre-apresentacao-content {
    background-color: var(--secondary-color-brown);
    color: var(--primary-color-white);
    text-align: left;
    width: 80%;
    height: 500px;
}

.sobre-apresentacao-content h1 {
    font-size: 45px;
    margin-left: 2em;
    margin-top: 1em;
}

.sobre-apresentacao-content h3 {
    margin-left: 3em;
    margin-bottom: 2em;
}

.sobre-apresentacao-content p {
    font-size: 30px;
    width: 400px;
    margin-left: 3em; 
}

.sobre-apresentacao-content hr {
    margin-bottom: 2em;
    width: 35%;
    height: 1px;
    border: 0px;
    background-color: #dddddd;
    margin-left: 5.6em;
}

#diretoria {
    text-align: right;
}

#diretoria h1 {
    margin-right: 2em;
}

#diretoria p {
    width: 80%;
    text-align: right;
    margin-right: 3em;
}

#diretoria hr {
    margin-left: auto;
    margin-right: 10vh;
}

#versao-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .article-content {
        width: 80%;
    }

    #versao-mobile {
        display: block;
    }

    .sobre-imagens-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .sobre-apresentacao-content {
        padding-top: 2em;
    }

    .sobre-apresentacao-content hr {
        margin-left: 3em;
    }

    .sobre-apresentacao-content h1 {
        text-align: left;
        margin-left: 1em;
        margin-bottom: 0.5em;
    }

    .sobre-apresentacao-content p {
        font-size: 27px;
        width: 85%;
        margin: 0 auto;
        margin-left: 1.7em;
    }

    .sobre-imagens-content img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    #diretoria h1 {
        margin-right: 1.2em;
        text-align: right;
    }

    #diretoria p {
        text-align: right;
    }

    #diretoria hr {
        margin-right: 4em;
    }

    #versao-desktop {
        display: none;
    }
}

