<header
    class="flex fixed top-0 items-center w-full h-28 bg-white z-10 select-none border-2 border-red-500"
>
    <div class="flex items-center justify-between w-full xl:w-5xl m-auto">
        <a class="flex cursor-pointer" routerLink="/home">
            <img class="w-15" src="imgs/logo_fundo-branco.png" />
        </a>
        <nav class="flex w-full">
            <ul class="flex mx-auto md:gap-8 font-semibold text-xl leading-6 tracking-tight">
                <li
                    class="cursor-pointer hover:text-orange-500 transition duration-150 ease-in-out"
                >
                    <a routerLink="/home">Início</a>
                </li>
                <li
                    class="cursor-pointer hover:text-orange-500 transition duration-150 ease-in-out"
                >
                    <a routerLink="/comunicados">Comunicados</a>
                </li>
                <li
                    class="cursor-pointer hover:text-orange-500 transition duration-150 ease-in-out"
                >
                    <a routerLink="/sobre">Sobre Nós</a>
                </li>
                <li
                    class="cursor-pointer hover:text-orange-500 transition duration-150 ease-in-out"
                >
                    <a routerLink="/contato">Contato</a>
                </li>
                <li
                    class="cursor-pointer hover:text-orange-500 transition duration-150 ease-in-out"
                >
                    <a routerLink="/transparencia">Transparência</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
