<header
    class="flex fixed top-0 items-center w-full h-28 bg-white z-10 transition-all ease-in-out select-none border-2 border-red-500"
>
    <div class="flex justify-between w-full xl:w-5xl m-auto">
        <nav class="flex w-full">
            <ul class="flex mx-auto md:gap-8 font-semibold text-xl leading-6 tracking-tight">
                <li class="cursor-pointer hover:underline">
                    <a>Início</a>
                </li>
                <li class="cursor-pointer hover:underline">
                    <a>Comunicados</a>
                </li>
                <li class="cursor-pointer hover:underline">
                    <a>Sobre Nós</a>
                </li>
                <li class="cursor-pointer hover:underline">
                    <a>Contato</a>
                </li>
                <li class="cursor-pointer hover:underline">
                    <a>Transparência</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
