@import 'tailwindcss';

:root {
	--primary-color-white: rgb(255, 255, 255);
	--secondary-color-white: #e6e0d4;
	--tertiary-color-white: #f3ead5;
	--primary-color-black: rgb(35, 31, 32);
	--secondary-color-black: #6b6969;
	--primary-color-orange: rgb(245, 130, 31);
	--secondary-color-orange: rgb(247, 204, 166);
	--primary-color-brown: rgb(72, 39, 16);
	--secondary-color-brown: #18110f;
	--primary-color-gray: #666666d7;
}
