@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
	--color-primary-color-white: rgb(255, 255, 255);
	--color-secondary-color-white: #e6e0d4;
	--color-tertiary-color-white: #f3ead5;
	--color-primary-color-black: rgb(35, 31, 32);
	--color-secondary-color-black: #6b6969;
	--color-primary-color-orange: rgb(245, 130, 31);
	--color-secondary-color-orange: rgb(247, 204, 166);
	--color-primary-color-brown: rgb(72, 39, 16);
	--color-secondary-color-brown: #18110f;
	--color-primary-color-gray: #666666d7;
}

html,
body {
	font-family: 'Inter', sans-serif;
	height: auto;
	scroll-behavior: smooth;
}
