h1 {
    font-size: 56px;
    margin: 1em 0;
}

.article-content {
    font-family: "Avenir Light";
    font-size: 18px;
    font-style: normal;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.article-content p {
    margin: 2em 0;
}

.sobre-imagens-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2em auto;
}

.sobre-imagens-container div {
    width: 100%; 
    height: 500px; 
}

.sobre-imagens-content img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

.sobre-apresentacao-content {
    background-color: var(--secondary-color-brown);
    color: var(--primary-color-white);
    text-align: left;
    width: 80%;
    height: 500px;
}

.sobre-apresentacao-content h1 {
    font-size: 45px;
    margin-left: 2em;
}

.sobre-apresentacao-content p {
    font-size:30px;
    margin-left: 3em;
}

.sobre-apresentacao-content hr {
    margin-top: -2em;
    margin-bottom: 2em;
    width: 30%;
    height: 1px;
    border: 0px;
    background-color: #dddddd;
    margin-left: 5.5em;
}

#diretoria {
    text-align: right;
}

#diretoria h1 {
    margin-right: 2em;
}

#diretoria p {
    margin-right: 3em;
}

#diretoria hr {
    margin-left: auto;
    margin-right: 10vh;
}

#versao-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .article-content {
        width: 80%;
    }

    .sobre-imagens-container {
        grid-template-columns: 1fr;
        
    }

    .sobre-apresentacao-content, .sobre-imagens-content {
        height: auto;
    }

    #versao-mobile {
        display: grid;
    }

    #versao-desktop {
        display: none;
    }
}

