.article-content {
    font-family: "Avenir Light";
    font-size: 18px;
    font-style: normal;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.article-content p {
    margin: 2em 0;
}

#tranparencia-titulo {
    font-size: 30px;
    margin: 2em auto;
}

.transparencia-container {
    width: 100%;
    background-color: var(--secondary-color-brown);
    display: grid;
    place-items: center;
    height: 80vh;
}

.transparencia-content {
    background-color: var(--secondary-color-brown);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.transparencia-item {
    margin: 2.5em;
    text-align: center;
}

.transparencia-item h1 {
    color: var(--primary-color-orange);
    font-size: 35px;
    margin-bottom: 1.5em;
}

.transparencia-list-item {
    text-align: left;
    padding-left: 1em;
}

.transparencia-list-item p {
    font-family: "Avenir Light";
    font-size: 18px;
    color: var(--primary-color-white);
}

#funarte {
    width: 300px;
    margin-top: 0.5em;
}

.transparencia-list-item ul li {
    margin: 1.5em 3em;
    color: var(--primary-color-white);
    list-style-type: none;
    width: 90%;
}

.termo-content {
    width: 80%;
    background-color: var(--secondary-color-brown);
    padding: 1em;
    text-align: center;
}
.termo-content h1 {
    color: var(--primary-color-orange);
    font-size: 35px;
}

.termo-list-item {
    width: 80%;
    text-align: left;
}

.termo-list-item p {
    font-family: "Avenir Light";
    font-size: 18px;
    color: var(--primary-color-white);
}

.termo-list-item ul li {
    margin: 1em 6em;
    color: var(--primary-color-white);
}


@media screen and (max-width: 768px) {
    .transparencia-container {
        height: 90vh;
    }
    
    .article-content {
        width: 80%;
    }

    .transparencia-list-item {
        width: 120%;
    }

    .transparencia-list-item ul li {
        margin: 1em;
        margin-left: -1.5em;
    }

    .termo-list-item {  
        margin-left: 1em;
    }

    .termo-list-item ul li {
        margin: 1em 1em;
    }

    .transparencia-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #status {
        margin-top: -2em;
    }

    #margin-celular {
        margin-top: -2em;
    }
}

@media screen and (min-width: 1660px){
    .transparencia-content {
        width: 70%;
    }
}