h1 {
    font-size: 56px;
    margin: 1em 0;
}

.article-content {
    font-family: "Avenir Light";
    font-size: 18px;
    font-style: normal;
    text-align: left;
    width: 80%;
    margin: 5em auto;
}

.transparencia-content {
    background-color: var(--secondary-color-brown);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.transparencia-item {
    padding: 1em;
    margin: 2.5em;
    text-align: center;
}

.transparencia-item h1 {
    color: var(--primary-color-orange);
    font-size: 35px;
}

.transparencia-list-item {
    text-align: left;
}

.transparencia-list-item p {
    font-family: "Avenir Light";
    font-size: 18px;
    color: var(--primary-color-white);
}

.transparencia-list-item ul li {
    margin: 1em 3em;
    color: var(--primary-color-white);
}

.termo-content {
    background-color: var(--secondary-color-brown);
    padding: 1em;
    text-align: center;
}

.termo-content h1 {
    color: var(--primary-color-orange);
    font-size: 35px;
}

.termo-list-item {
    text-align: left;
}

.termo-list-item p {
    font-family: "Avenir Light";
    font-size: 18px;
    color: var(--primary-color-white);
}

.termo-list-item ul li {
    margin: 1em 6em;
    color: var(--primary-color-white);
}

.status-content {
    text-align: left;
    margin: 0 6em;
}

#status-title {
    width: 100%;
}

.status-content p {
    margin: 1.5em 0;
    font-family: "Avenir Light";
    font-size: 25px;
}

hr {
    width: 5em;
    margin-top: -2em;
    border: 0;
	border-top: 5px solid var(--primary-color-brown);
}

@media screen and (max-width: 768px) {
    .article-content {
        width: 80%;
    }

    .transparencia-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}